@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin:10;
	padding:10;
	box-sizing:border-box;
	font-family:"Poppins", sans-serif;
 }
 
 
body {
 	background:#1f242d;
 	color: #fff;
 }
 
 table {
 	width:400px;
 }
 
 th,caption  {
 	text-align:left;
 }
 
 table,th,td {
 	border: 1px solid #000;
 	border-collapse: collapse;
 	border-color:#fff;
 }
 
 th,td {
 	padding: 10px;
 	font-weight:600;
 }
 
 caption {
 	color:#0ef;
 	font-size:300%;
 	font-weight:500;
 }
 
 #result {
 	display:inline-block;
	padding:2px 5px;
	background:#0ef;
	border-radius:5px;
	box-shadow: 0 0 5px #0ef;
	font-size:16px;
	color:#1f242d ;
	letter-spacing:1px;
	text-decoration:none;
	font-weight:600;
	justify-content:space-between;
}

@media only screen and (min-width:200px) and (max-width:567px) {
	table {
		margin-left: auto;
		margin-right: auto;
		width:600px;
	}
}





































